@model MyLoyalty.Models.Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Autenticação</div>
            <div class="panel-body">
                <form asp-action="Login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuário</label>
                        <input type="text" name="Login" class="form-control" id="etLogin" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input type="password" name="Password" class="form-control" id="etSenha" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-log-in">&nbsp;</i>Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>



